@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans');

body {
    font-family: 'Plus Jakarta Sans';
}


.card-ui-container {
    padding: 15px;
}

.page-title {
    margin-bottom: 5px;
}

.title-button-row {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}

.title-button-row-0m {
    display: inline-flex;
    align-items: center;
    gap: 20px;
}

.button-row {
    display: inline-flex;
    align-items: center;
    gap: 12px;
}

.rendered-row {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 8px;
    width: 100%;
}

.team-builder-caption {
    margin-bottom: 15px;
}
