@page "/"

<PageTitle>Team Builder</PageTitle>

<h2 class="page-title">Post a team request post</h2>
<MudText Typo="Typo.body2" Class="team-builder-caption">Create a post to request a team, while choosing their role, skillset, skill level and how many you want!</MudText>

<MudGrid>
    <MudItem xs="12">
        <MudPaper Class="card-ui-container" Elevation="0" Outlined="true">
            <TeamBuilderForm />
        </MudPaper>
    </MudItem>
</MudGrid>


<style>
    .card-ui-container {
        padding: 15px;
    }

    .page-title {
        margin-bottom: 5px;
    }

    .title-button-row {
        display: inline-flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 15px;
    }

    .team-builder-caption {
        margin-bottom: 15px;
    }
</style>