@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using techstack.team.builder.blazor.web.Models;

<MudGrid>
    <MudItem xs="12">
        <div class="title-button-row-0m">
            <h3>Team request</h3>
            <div class="icon-only-row">
                <MudIconButton OnClick="AddFormRow"
                               DisableElevation="true"
                               Variant="Variant.Filled"
                               Size="Size.Small"
                               Color="Color.Primary"
                               Icon="@Icons.Material.Filled.Add" />
            </div>
        </div>
    </MudItem>
    @if (formRow.Count > 0)
    {
        <MudItem xs="12">
            <MudForm Model="@form" @ref="formRef">
                    @foreach (var (row, index) in formRow.Select((f, i) => (f, i)))
                    {
                        <div class="rendered-row">
                            <MudIconButton @onclick="() => RemoveFormRow(index)"
                                            DisableElevation="true"
                                            Variant="Variant.Text"
                                            Size="Size.Small"
                                            Color="Color.Error"
                                            Icon="@Icons.Material.Filled.RemoveCircleOutline" />
                            @row
                        </div>
                    }
            </MudForm>
        </MudItem>
        <MudItem xs="12">
            <MudCardActions>
                <div class="button-row">
                    <MudButton Variant="Variant.Filled" ButtonType="ButtonType.Submit" Color="Color.Primary" DisableElevation="true">
                        <MudText Typo="Typo.body2">Create post</MudText>
                    </MudButton>
                @if (formRef != null)
                    {
                        <MudButton Variant="Variant.Outlined" Color="Color.Primary" DisableElevation="true" OnClick="@( ()=> formRef.Reset())" ButtonType="ButtonType.Reset">
                            <MudText Typo="Typo.body2">Clear</MudText>
                        </MudButton>
                    }
                </div>
            </MudCardActions>
        </MudItem>
    }
</MudGrid>

@code {
    bool success;
    FormModel form = new FormModel();
    MudForm formRef;
    private List<RenderFragment> formRow = new List<RenderFragment>();

    private void AddFormRow()
    {
        formRow.Add(builder =>
        {
            builder.OpenComponent(0, typeof(TeamBuilderFormRow));
            builder.CloseComponent();
        });
    }

    private void RemoveFormRow(int index)
    {
        formRow.RemoveAt(index);
    }

    private void OnValidSubmit(EditContext context)
    {
        foreach (var teamBuilderFormItem in form.TeamBuilderFormItems)
        {
            var selectedValue = teamBuilderFormItem.SelectedValues;
        }

        success = true;
        StateHasChanged();
    }
}