@page "/"
@using techstack.team.builder.blazor.web.Services;
@inject ISelectionService SelectionService;

<PageTitle>Team Builder</PageTitle>

<h2 class="page-title">Create a team request post</h2>
<MudText Typo="Typo.body2" Class="team-builder-caption">Create a post to request a team, while choosing their role, skillset, skill level and how many you want!</MudText>

<MudGrid>
    <MudItem xs="12">
        <MudPaper Class="card-ui-container" Elevation="0" Outlined="true">
            <TeamBuilderForm />
        </MudPaper>
    </MudItem>
        @if (SelectionService.SelectedSkillset != null)
        {
            <MudItem xs="12">
                <h2>Your post template</h2>
            </MudItem>
            <MudItem xs="12">
                <MudPaper Class="card-ui-container" Elevation="0" Outlined="true">
                    <MudStack Spacing="4">
                        <h3>@SelectionService.SelectedRole</h3>
                        <MudStack Spacing="2">
                            <MudText Typo="Typo.subtitle2">Skills</MudText>
                            <MudText Typo="Typo.body2">@SelectionService.SelectedSkillset</MudText>
                        </MudStack>
                        <MudStack Spacing="2">
                            <MudText Typo="Typo.subtitle2">Level</MudText>
                            <MudText Typo="Typo.body2">@SelectionService.SelectedSkillLevel</MudText>
                        </MudStack>
                    <MudStack Spacing="2">
                        <MudText Typo="Typo.subtitle2">How many roles</MudText>
                        @if (SelectionService.SelectedQuantity > 0)
                        {
                            @SelectionService.SelectedQuantity
                        }
                    </MudStack>
                    </MudStack>
                </MudPaper>
            </MudItem>
        }
</MudGrid>

@code {
    private string selectedRole;
    private string selectedSkillset;
    private string selectedSkillLevel;
    private int selectedQuantity;

    protected override void OnInitialized()
    {
        SelectionService.OnSelectionChanged += UpdateSelectedValues;
    }

    private void UpdateSelectedValues()
    {
        selectedRole = SelectionService.SelectedRole;
        selectedSkillset = SelectionService.SelectedSkillset;
        selectedSkillLevel = SelectionService.SelectedSkillLevel;
        selectedQuantity = SelectionService.SelectedQuantity;
        StateHasChanged();
    }
}