@page "/"
@using techstack.team.builder.blazor.web.Services;
@inject ISelectionService SelectionService;

<PageTitle>Team Builder</PageTitle>

<h2 class="page-title">Create a team request post</h2>
<MudText Typo="Typo.body2" Class="team-builder-caption">Create a post to request a team, while choosing their role, skillset, skill level and how many you want!</MudText>

<MudGrid>
    <MudItem xs="12">
        <MudPaper Class="card-ui-container" Elevation="0" Outlined="true">
            <TeamBuilderForm />
        </MudPaper>
    </MudItem>
    <MudItem xs="12">
        <MudPaper Class="card-ui-container" Elevation="0" Outlined="true">
            @SelectionService.SelectedRole
            @SelectionService.SelectedSkillset
            @SelectionService.SelectedSkillLevel
            @SelectionService.SelectedQuantity  
        </MudPaper>
    </MudItem>
</MudGrid>

@code {
    private string selectedRole;
    private string selectedSkillset;
    private string selectedSkillLevel;
    private int selectedQuantity;

    protected override void OnInitialized()
    {
        SelectionService.OnSelectionChanged += UpdateSelectedValues;
    }

    private void UpdateSelectedValues()
    {
        selectedRole = SelectionService.SelectedRole;
        selectedSkillset = SelectionService.SelectedSkillset;
        selectedSkillLevel = SelectionService.SelectedSkillLevel;
        selectedQuantity = SelectionService.SelectedQuantity;
        StateHasChanged();
    }
}